.card-sm{
    width: 32%;
    & p{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
    }
    & img{
        margin-bottom: 16px;
    }
}
.card-lg{
    width: 49%;
    & p{
        line-height: 28px;
    }
    & img{
        margin-bottom: 16px;
    }
}